.imgColumns{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    height: 30%;
    max-width: fit-content;
    grid-gap: 10px;
}
/*aumenta el tamaño de la imagen*/
.imghover:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*se encargará de los bordes de la imagen, aumentando el tamaño con el tiempo*/
.imghover:hover{
    border: 9px solid rgba(248, 248, 248, 0.699);
    transition:1.5s;
}

@media screen and (max-width:1024px){
    .imgColumns{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        height: 40%;
        max-width: fit-content;
    }
}


@media screen and (max-width:480px) {
    .imgColumns{
        display: block;
        height: 100%;
        width: 100%;
    }
}